<!DOCTYPE html>
<html lang="">

<head>
    <title>

    </title>
</head>

<body>

<tr th:each="city : ${city}">

    <td th:text="${city.city}"></td>
    <br>
    <td th:text="${city.country}"></td>
    <br>
    <td th:text="${city.state}"></td>
    <br>
    <td th:text="${city.aqicn}"></td>
    <br>
    <td th:text="${city.tp}"></td>
    <br>
    <td th:text="${city.hu}"></td>
    <br>
    <td th:text="${city.pr}"></td>
    <br>
    <td th:text="${city.ts}"></td>
    <br>
    <td th:text="${city.ws}"></td>

</body>
</html>