<!DOCTYPE html>
<html lang="">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<body>

<tr th:each="city : ${city}">

    <td th:text="${city.city}"></td><br>
    <td th:text="${city.country}"></td><br>
    <td th:text="${city.state}"></td><br>
    <td th:text="${city.aqicn}"></td><br>
    <td th:text="${city.tp}"></td><br>
    <td th:text="${city.hu}"></td><br>
    <td th:text="${city.pr}"></td><br>
    <td th:text="${city.ts}"></td><br>
    <td th:text="${city.ws}"></td>

<!--<div ng-app="myApp" ng-controller="myCtrl">-->

<!--    <p>Today's welcome message is:</p>-->
<!--    <h1>{{myWelcome}}</h1>-->

<!--</div>-->

<!--<script>-->
<!--    var app = angular.module('myApp', []);-->
<!--    app.controller('myCtrl', function($scope, $http) {-->
<!--        $http({-->
<!--            method : "GET",-->
<!--            url : ""-->
<!--        }).then(function mySuccess(response) {-->
<!--            $scope.myWelcome = response.data;-->
<!--        }, function myError(response) {-->
<!--            $scope.myWelcome = response.statusText;-->
<!--        });-->
<!--    });-->
<!--</script>-->


<!--<div ng-app="">-->

<!--    <p>Miasto: <input type="text" ng-model="name"></p>-->
<!--    <p>{{name}}</p>-->

<!--</div>-->

<!--<div ng-app="Weather" ng-controller="weatherController" ng-init="myColor='yellow'">-->

<!--    State: <input type="text" style="background-color: {{myColor}}" ng-model="state"><br>-->
<!--    State Capital: <input type="text" style="background-color: {{myColor}}" ng-model="stateCapital"><br>-->
<!--    <br>-->
<!--    State name and State Capital name: {{state + " " + stateCapital}}-->
<!--</div>-->

<!--<script>-->
<!--    var app = angular.module('Weather', []);-->
<!--    app.controller('weatherController', function($scope) {-->
<!--        $scope.state= "Województwo Mazowieckie ";-->
<!--        $scope.stateCapital= "Warszawa";-->
<!--    });-->
<!--</script>-->

<!--&lt;!&ndash;<div ng-app="" ng-init="state={stateName:'Mazowieckie', stateCapital:'Warszawa'}">&ndash;&gt;-->
<!--&lt;!&ndash;    <p>The name is {{ state.stateCapital }}</p>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div ng-app="" ng-init="points=[1,15,19,2,40]">&ndash;&gt;-->

<!--&lt;!&ndash;    <p>The third result is {{ points[2] }}</p>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div ng-app="Weather" ng-controller="weatherController">-->

<!--    <input ng-model="name">-->

<!--    <h1>My name is {{name}}</h1>-->

<!--</div>-->

<!--<script>-->
<!--    var app = angular.module('myApp', []);-->

<!--    app.controller('myCtrl', function($scope) {-->
<!--        $scope.name = "John Doe";-->
<!--    });-->
<!--</script>-->

</body>
</html>