.navbar-bottom {
    background-color: #ffffff;
    font-family: "Helvetica Neue", fantasy;
    font-size: 40px;
    color: #ca0101;
}

.body-background {
    padding-top: 10px;
    height: 10vh;
    background-color: #ffffff;
}

* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    font-family: "Calibri Light", sans-serif;
    font-size: 16px;
    color: #c3bfbf;
}

body {
    position: relative;
    font-size: 16px;
    color: #c3bfbf;
}
