<!DOCTYPE html>
<html lang="en">

<head>

    <div class="header">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Weather AirVisual API</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mdb.min.css">
        <link rel="stylesheet" href="/css/style.css">

    </div>
</head>

<div class="header">
    <a class="navbar-brand"><h3 class='my-auto'><span class="navbar-bottom">Weather AirVisual API</span></h3></a>
</div>


<body>

<div class="header"></div>

</body>

<div class="header"></div>

</html>