<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Weather AirVisual API</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header class="body-background">
        <div class="container">
            <a class="navbar-brand"><h3 class='my-auto'><span class="navbar-bottom">Weather AirVisual API</span></h3></a>
        </div>
</header>

<!--<img src="/img/countries/wojewodztwa-polska.jpg" alt="Wojewodztwa-Polska" usemap="#states">-->

<!--<map name="states">-->
<!--    <area alt="Lubelskie" coords="64,84,470,450" href="states/lubelskie.html" shape="rect">-->
<!--&lt;!&ndash;    <area shape="rect" coords="290,172,333,250" alt="Phone" href="states/lubelskie.html">&ndash;&gt;-->
<!--&lt;!&ndash;    <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="states/lubelskie.html">&ndash;&gt;-->
<!--</map>-->

<img src="/img/countries/wojewodztwa-polska.jpg" alt="Workplace" usemap="#workmap" width="800" height="800">

<map name="workmap">
    <area href="states/lubelskie.html" shape="circle" coords="337,300,44" onclick="myFunction()" alt="">
</map>

<script>
    function myFunction() {
        alert("You clicked State Lubelskie");
    }
</script>





<!--</div>-->

<!--<footer class="text-center text-white fixed-bottom" style="background-color: #2c2f34;">-->
<!--    <div class="container p-4"></div>-->

<!--    <div class="text-center p-3" style="background-color: #2c2f34">-->
<!--        © 2022<a class="text-white" href="https://github.com/Manes79" target="_blank" rel="noreferrer">pl.manes</a>-->
<!--    </div>-->
<!--</footer>-->

</body>
</html>